.interests__content {
  margin-top: 10px;
  &-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &-list {
    display: grid;
    gap: 8px;
    justify-items: center;
    i {
      color: $textColorLight;
      font-size: $bigFontSize;
    }
    p {
      color: $textColor;
      font-size: $normalFontSize;
      letter-spacing: 1px;
    }
  }
}
