.social {
  &-menu {
    display: grid;
    gap: 20px;
    &-link {
      color: $textColor;
      font-size: $normalFontSize;
      letter-spacing: 1px;
      i {
        margin-right: 5px;
        &:hover {
          transform: scale(1.2);
        }
      }
      span {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
