// Container & Breakpoints
@use "sass:math";
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1440: 1440 + px;
$breakpoint1200: 1200 + px;
$breakpoint992: 992 + px;
$breakpoint768: 768 + px;
$breakpoint576: 576 + px;
$breakpoint320: 320 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: "black";
$burgerActiveColor: "white";

// Fonts
$fontMain: "Oswald", sans-serif;
$fontSecondary: "";

// Colors
$titleColor: #0b0a0a;
$textColor: #403a3a;
$textColorLight: #707070;
$containerColor: #fafafa;
$containerColorAlt: #f0efef;
$bodyColor: #fcfcfc;

// Dark-mode Colors
$DMtitleColor: #f2f2f2;
$DMtextColor: #bfbfbf;
$DMcontainerColor: #212121;
$DMcontainerColorAlt: #181616;
$DMbodyColor: #2b2b2b;

// Fonts Size
$bigFontSize: 28px;
$semiFontSize: 24px;
$normalFontSize: 18px;
$smallFontSize: 16px;

// Fonts weight
$font: 300;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
