// Global SCSS-files imports
@import "./vars";
@import "./reset";
@import "./@media";

// Sections or Pages SCSS-files imports
@import "./header";
@import "./home";
@import "./social";
@import "./about-me";
@import "./skills";
@import "./experience";
@import "./languages";
@import "./interests";
@import "./dark-mode";
@import "./a4-scale-resume";

// Libs
// @import './libs/swiper';

body {
  line-height: 1;
  font-family: $fontMain;
  font-size: $normalFontSize;
  background-color: $bodyColor;
  color: $textColor;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &.locked {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $titleColor;
  font-weight: $fontMedium;
}

.section {
  padding-bottom: 10px;
  &-title {
    font-size: $semiFontSize;
    color: $titleColor;
    text-transform: uppercase;
    font-weight: $fontSemiBold;
    letter-spacing: 5px;
    text-align: center;
    padding-bottom: 10px;
  }
  &-subtitle {
    font-size: $semiFontSize;
    color: $textColor;
    font-weight: $font;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.resume {
  position: relative;
  margin-top: 50px;
}
.resume__left,
.resume__right {
  padding: 10px 30px;
  background-color: $containerColor;
  box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
}
.resume__left {
  background-color: $containerColorAlt;
  box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
}

// Scroll Up button
.scrollTop {
  position: fixed;
  bottom: 35px;
  right: 25px;
  z-index: 100;

  font-size: $semiFontSize;
  color: $textColor;
  border: 1px solid $textColor;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
  transition: 0.4s;

  visibility: hidden;
  &:hover {
    transform: translateY(-5px);
  }
}

.show-scroll {
  visibility: visible;
  bottom: 50px;
}

// Dark Mode button
.change__theme {
  position: absolute;
  top: 10px;
  left: 5px;

  font-size: $bigFontSize;
  color: $textColorLight;
  cursor: pointer;

  transform: rotate(25deg);
  transition: transform 0.4s linear;
  &:hover {
    transform: rotate(385deg);
  }
}
